<div id="header">
  <div class="header-wrap">
    <ul id="nav-one" class="dropmenu">
        <li class="deactiv"><%= t('operators_phone') %>&nbsp;(800) 927-76-71</li>
        <li><%= link_to t('our_benefits'), "#" %>
            <ul>
              <% links = {
                        :free_gift_wrapping => "#",
                        :all_goods_in_stock => "#",
                        :the_possibility_of_buying_on_credit => "#",
                        :free_gift_wrap => "#",
                        :all_goods_are_in_stock => "#",
                        :the_possibility_of_buying_on_credit => "#",
                        :cozy_outlets_and_fittings => "#",
                        :constant_updating_of_range => "#",
                        :free_shipping => "#",
                        :convenient_and_secure_payment => "#",
                        :the_system_of_bonuses_and_discounts => "#",
                        :back_guarantee => "#"
              } %>
              <%= header_menu_creator(links) %>
            </ul>
        </li>
        <% if current_user.nil? %>
            <li><%= link_to t('sign_registration'), login_path %>
                <%= render :partial => 'shared/login' %>
            </li>
        <% else %>
            <li><%= link_to t('signout'), destroy_user_session_path %></li>
        <% end %>
        <li><%= link_to t('to_bookmarks'), "#" %></li>
        <li><%= link_to t('contacts'), "#" %></li>
        <li><a href="#">Помощь</a>
            <ul>
                <li><a href="#">Возникли вопросы? Мы всегда готовы помочь вам!</a></li>
                <li><a href="#">Позвоните нам!</a></li>
                <li><a href="#">Напишите нам письмо!</a></li>
                <li><a href="#">Есть вопросы? Проверьте наш раздел с популярными вопросами</a></li>
            </ul>
        </li>
    </ul>
  </div>
</div>
<div id="menu-box">
  <ul class="box">
    <li><%= image_tag 'logo.png' %></li>
    <li class="indicator">
        <ul>
          <li><%= t('free_gift_wrapping') %></li>
          <li><%= t('all_goods_in_stock') %></li>
          <li><%= t('the_possibility_of_buying_on_credit') %></li>
        </ul>
    </li>

    <li class="basket">
        <%= render :partial => 'orders/ajax_cart', :locals => {:order => current_order(true) } %>
        <div id="wish"><b><%= t('wishes') %></b><br /><%= link_to t("wishlists"), default_wishlist_path %></div>
    </li>
    <li class="search">
        <%= render :partial => 'shared/search' %>
        <div class="social">
            <div class="twitter"><%= link_to '', '#' %></div>
            <div class="rss"><%= link_to '', '#' %></div>
            <div class="facebook"><%= link_to '', '#' %></div>
            <div class="faq"><%= link_to '', '#' %></div>
        </div>
    </li>
  </ul>
</div>

<div id="middle-menu">
  <ul class="middle">
    <% links = {:order_and_payment => '#',
                :delivery => '#',
                :guarantee => '#',
                :outlets => '#'
    } %>
    <%= header_menu_creator(links) %>
  </ul>
</div>
<div id="header-down">
  <div class="header-wrap">
    <ul class="menu-down">
        <% links = {:homepage => root_path,
                    :whats_new => news_index_path,
                    :specials => "#",
                    :club => '#',
                    :magazine => '#'
        } %>
        <%= header_menu_creator(links) %>
    </ul>
  </div>
</div>