<div id="header">
  <div class="header-wrap">
    <ul id="nav-one" class="dropmenu">
        <li class="deactiv"><%= t('operators_phone') %>&nbsp;(800) 927-76-71</li>
        <li><a href="#">Наши приемущества</a>
            <ul>
                <li><a href="#">Бесплатная подарочная упаковка</a></li>
                <li><a href="#">Весь товар в наличии</a></li>
                <li><a href="#">Возможность покупки в кредит</a></li>
                <li><a href="#">Уютные пункты выдачи и примерки</a></li>
                <li><a href="#">Постоянное обновление ассортимента</a></li>
                <li><a href="#">Бесплатная доставка</a></li>
                <li><a href="#">Удобная и безопасная оплата</a></li>
                <li><a href="#">Система бонусов и скидок</a></li>
                <li><a href="#">Гарантия возврата</a></li>
            </ul>
        </li>



<%# if current_user %>
  <!--<li><%# link_to t('my_account'), account_path %></li>
  <li><%# link_to t('logout'), destroy_user_session_path %></li>-->
<%# else %>

        <% if current_user.nil? %>
            <li><%= link_to t('sign_registration'), login_path %>
                <%= render :partial => 'shared/login' %>
            </li>
        <% else %>
            <li><%= link_to t('signout'), destroy_user_session_path %></li>
        <% end %>
        <li><a href="#">В избранное</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Помощь</a>
            <ul>
                <li><a href="#">Возникли вопросы? Мы всегда готовы помочь вам!</a></li>
                <li><a href="#">Позвоните нам!</a></li>
                <li><a href="#">Напишите нам письмо!</a></li>
                <li><a href="#">Есть вопросы? Проверьте наш раздел с популярными вопросами</a></li>
            </ul>
        </li>
    </ul>
  </div>
</div>
<div id="menu-box">
  <ul class="box">
    <li><%= image_tag 'logo.png' %></li>
    <li class="indicator">
        <ul>
            <li>Бесплатная подарочная упаковка</li>
            <li>Весь товар в наличии</li>
            <li>Возможность покупки в кредит</li>
        </ul>
    </li>

    <li class="basket">
        <%= render :partial => 'orders/ajax_cart', :locals => {:order => current_order(true) } %>
        <div id="wish"><b>Желания</b><br />2 желания</div>
    </li>
    <li class="search">
        <%= render :partial => 'shared/search' %>
        <div class="social">
            <div class="twitter"><%= link_to '', '#' %></div>
            <div class="rss"><%= link_to '', '#' %></div>
            <div class="facebook"><%= link_to '', '#' %></div>
            <div class="faq"><%= link_to '', '#' %></div>
        </div>
    </li>
  </ul>
</div>

<div id="middle-menu">
  <ul class="middle">
    <% links = {:order_and_payment => '#',
                :delivery => '#',
                :guarantee => '#',
                :outlets => '#'
    } %>
    <%= header_menu_creator(links) %>
  </ul>
</div>
<div id="header-down">
  <div class="header-wrap">
    <ul class="menu-down">
        <% links = {:homepage => root_path,
                    :whats_new => news_index_path,
                    :specials => "#",
                    :club => '#',
                    :magazine => '#'
        } %>
        <%= header_menu_creator(links) %>
    </ul>
  </div>
</div>