<div id="windows">
    <div id="example">
	    <div id="slides">
			<div class="slides_container">
			    <%= link_to image_tag('1.png', :width => 692, :height => 219), '#', :title => '', :target => '_blank' %>
                <%= link_to image_tag('2.png', :width => 692, :height => 219), '#', :title => '', :target => '_blank' %>
                <%= link_to image_tag('3.png', :width => 692, :height => 219), '#', :title => '', :target => '_blank' %>
                <%= link_to image_tag('4.png', :width => 692, :height => 219), '#', :title => '', :target => '_blank' %>
                <%= link_to image_tag('5.png', :width => 692, :height => 219), '#', :title => '', :target => '_blank' %>
            </div>
	    </div>
    <%= image_tag 'header-bg.png', :width => 721, :height => 238, :id => 'frame' %>
    </div>
</div>

