<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <%= render "shared/filters" %>
    <% else %>
      <%= render "shared/taxonomies" %>
    <% end %>
  <% end %>
<% end %>
<h1><%= t('contact_us') %></h1>

<div id="contact_form">
    <div class="notice success"><%= t(:inquiry_successful) %></div>
</div>

