<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>
<div id="existing-customer">
  <h2><%= t("login_as_existing") %></h2>
  <%= hook :login do %>
    <%= render :partial => 'shared/login' %>
  <% end %>
  <ul class="sign_links">
    <li><%= link_to t("registration"), signup_path %></li>
    <li><%= link_to t("forgot_password"), new_user_password_path %></li>
  </ul>
</div>
<%= hook :login_extras %>